/* Student List Container */
.student-list {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #052453;
}

.student-list h2 {
    color: #ccaa44;
    margin-bottom: 15px;
}

.student-list ul {
    list-style: none;
    padding: 0;
}

.student-list li {
    margin: 10px 0;
    padding: 8px;
    margin-left: 40%;
    border-bottom: 1px solid #ccc;
}

.student-list li:last-child {
    border-bottom: none;
}
